/* src\app\chat\chat.page.scss */

/* Estilos para el ion-toolbar */
ion-toolbar {
  display: flex;
  align-items: center;
}

/* Estilos para los ion-buttons */
ion-buttons[slot="start"],
ion-buttons[slot="end"] {
  flex: none;
}

/* Ajustar el tamaño del logo */
.logo-img {
  height: 70px; /* Ajusta el tamaño según tus necesidades */
}

/* Contenedor central para centrar el mensaje */
.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Estilos para el indicador de conexión */
.connection-indicator {
  display: flex;
  align-items: center;
}

.connection-status {
  margin-left: 5px;
  font-size: 16px;
  color: white;
}

.green-light,
.gray-light {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.green-light {
  background-color: rgb(18, 231, 18);
}

.gray-light {
  background-color: gray;
}

/* Contenedor principal del chat */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ocupa toda la altura disponible */
}

/* Área de mensajes */
.chat-messages {
  flex: 1; /* Ocupa el espacio restante */
  overflow-y: auto; /* Permite el desplazamiento vertical */
  padding: 10px; /* Espaciado interno */
}

/* Contenedor del input de mensaje */
.chat-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid var(--ion-border-color);
  background-color: var(--ion-background-color);
}

.chat-input-container ion-input {
  flex: 1;
  margin-right: 10px;
}

/* Estilos para los mensajes del usuario y del bot */
.user-message {
  text-align: right;
  background-color: #e0f7fa;
  padding: 8px;
  border-radius: 15px;
  color: black;
}

.bot-message {
  text-align: left;
  background-color: #f1f8e9;
  padding: 8px;
  border-radius: 15px;
  color: black;
}

/* Mensaje de éxito */
.success-message {
  position: fixed;
  top: 60px; /* Ajusta según la altura del header */
  right: 10px;
  background-color: green;
  color: white;
  padding: 9px;
  z-index: 100;
}

