

<!-- src/app/chat/chat.page.html -->

<ion-header>
  <ion-toolbar>
    <!-- Logo en el lado izquierdo -->
    <ion-buttons slot="start">
      <img class="logo-img" src="assets/images/logo.png" alt="ChatBook Logo" />
    </ion-buttons>

    <!-- Contenedor central para el mensaje de estado de conexión -->
    <div class="header-center">
      <div class="connection-indicator">
        <div
          [ngClass]="{ 'green-light': isLoggedIn, 'gray-light': !isLoggedIn }"
        ></div>
        <div class="connection-status">
          {{ isLoggedIn ? 'Estás como usuario' : 'Estás como invitado' }}
        </div>
      </div>
    </div>

    <!-- Botón de menú en el lado derecho -->
    <ion-buttons slot="end">
      <ion-menu-button menu="chatMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenedor principal del chat -->
  <div class="chat-container">
    <!-- Área de mensajes -->
    <div class="chat-messages">
      <!-- Listado de mensajes Bot - usuario -->
      <ion-list>
        <ion-item
          *ngFor="let chatItem of messages"
          [hidden]="chatItem.role === 'system'"
        >
          <ion-label
            [ngClass]="{
              'user-message': chatItem.role === 'user',
              'bot-message': chatItem.role === 'assistant'
            }"
          >
            {{ chatItem.content }}
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <!-- Input y botones de acción -->
    <div class="chat-input-container">
      <!-- Botón para adjuntar archivos -->
      <ion-button fill="clear" (click)="adjuntarArchivo()">
        <ion-icon name="attach-outline"></ion-icon>
      </ion-button>

      <!-- Botón para enviar audio -->
      <ion-button fill="clear" (click)="sendAudio()">
        <ion-icon name="mic-outline"></ion-icon>
      </ion-button>

      <!-- Botón para obtener y enviar las tareas almacenadas al LLM -->
      <ion-button fill="clear" (click)="sendTasksToLLM()">
        <ion-icon name="list-outline"></ion-icon>
        Tasks
      </ion-button>

      <!-- Input de mensaje -->
      <ion-input
        [(ngModel)]="userMessage"
        placeholder="Escribe tu mensaje..."
      ></ion-input>

      <!-- Botón para enviar mensaje -->
      <ion-button fill="clear" (click)="sendMessage()">
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

  <!-- Barra de mensaje de conexión -->
  <div
    *ngIf="showMessage"
    class="success-message"
  >
    {{ message }}
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title> © 2028 Mi Aplicación </ion-title>
  </ion-toolbar>
</ion-footer>





<!-- 
*ng
Es una abreviación de "Angular"
ng es una convención que se utiliza manejar los servicios y módulos que son propios de Angular. 

*ngClass: 
Directiva de Angular para clases CSS.
  [ngClass]="{'user-message': chatItem.fromUser, 
              'bot-message': !chatItem.fromUser}"
    Agrega la clase de CSS "user-message" si proveien del usuario el mensaje(True), o la clase bot-message en el otro caso (false), 

*ngModel: 
Directiva de Angular para la vinculación de datos bidireccional entre el componente y el template HTML.
Cuando los datos en el template html cambian, tambien lo hara en su componente "ChatPage.ts" y viceversa. 
En este caso conecta el input "userMessage" con el archivo "chat.page.ts", en la propiedad de la clase del mismo nombre "userMessage"

*ngFor="let chatItem of messages"
Directiva de Angular que itera sobre una lista de elementos 
(messages en este caso) y crea un elemento HTML para cada ítem en la lista.
Genera dinámicamente una lista de mensajes en la interfaz de usuario. 
Cada mensaje en el array messages se representa como un elemento en la lista.
-->