

.login-container {

    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.card-login{

}

  
    
.logo-img{
height: 80px;
position: relative;
right: -20px;
top: 10px;

}