

<!-- src/app/app.component.html -->

<ion-app>
  <ion-router-outlet id="main-content"></ion-router-outlet>

  <!-- Menú para la vista de Chat -->
  <ion-menu side="end" menuId="chatMenu" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item button routerLink="/libreta">
          <ion-icon slot="start" name="book-outline"></ion-icon>
          <ion-label>Libreta</ion-label>
        </ion-item>
        <ion-item button routerLink="/login">
          <ion-icon slot="start" name="log-in-outline"></ion-icon>
          <ion-label>Login</ion-label>
        </ion-item>
        <ion-item
          button
          (click)="logout()"
          *ngIf="isLoggedIn"
        >
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>Desconectarse</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Menú para la vista de Libreta -->
  <ion-menu side="end" menuId="libretaMenu" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item button routerLink="/chat">
          <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
          <ion-label>Chat</ion-label>
        </ion-item>
        <ion-item
          button
          (click)="logout()"
          *ngIf="isLoggedIn"
        >
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>Desconectarse</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
</ion-app>
